.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform .8s;
  }
  
  .fade-up.active {
    opacity: 1;
    transform: translateY(0);
  }
  

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-left {
    animation: slideInFromLeft 0.5s ease forwards;
  }
  