.fade-up {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity .75s ease, transform 0.75s ease;
  }
  
  .fade-up.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-left {
    animation: slideInFromLeft 0.75s ease forwards;
  }
  